[Unit]
Description=starting tango device smc100ds
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/home/pi/Tango_Devices/SMC100/device_wrapper.sh
WorkingDirectory=/home/pi/Tango_Devices/SMC100
User=pi
Restart=on-abort
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
